/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Bb]uiulds/
/New folder/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/[Ss]creenshots/
/[Aa]ssets/[Ss]creenshots.meta

.vs/
.vscode/
.idea/
.gradle/
.utmp/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt
mono_crash.*

*.apk
*.aab
*.unitypackage
*.app
*.zip
*.rar
*.7z
*.exe

.claude/settings.local.json

crashlytics-build.properties
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

.DS_Store
Thumbs.db
